<strong>Module:</strong>        SanAuth &raquo;
<strong>Controller:</strong>    Auth &raquo;
<strong>Action:</strong>        index

Login Success.
<br />
 
<a href="<?php echo $this->url('login/process', array('action'=>'logout')); ?>">Logout</a>