<!DOCTYPE html>
<html lang="en">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="video-nav">
                  <p>Master Class ses 2-10 (bass)</p>
                  <p>Trainer-Scott</p>
                  <p>Duration 10.00- 10.30</p>
                  <p>Attendants: 4230 Students</p>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="video-nav">
                  <div class="video-wrapper">
                    <div class="embed-responsive embed-responsive-16by9">
                     <iframe src="https://www.youtube.com/embed/EoNQChcMJP8" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="chat-wrapper">
              <div class="chat-pp">
              <div class="profile-mainpp2">
                  <div id="wrapperpp2">
                     <div id="pp">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <div class="user4">
                  <h1>@Username</h1>
                  <h4>Position</h4>
                </div>
                </div>

                <div class="chat-area">
                  <h3>Username:</h3><h4>Magnis lectus platea elementum! Ac sit?</h4>
                  <h3>Username:</h3><h4>Magnis lectus platea elementum! Ac sit?</h4>
                  <h3>Username:</h3><h4>Magnis lectus platea elementum! Ac sit?</h4>
                  <h3>Username:</h3><h4>Magnis lectus platea elementum! Ac sit?</h4>
                  <h3>Username:</h3><h4>Magnis lectus platea elementum! Ac sit?</h4>
                  <div class="form-group custom-form-type">
                <input type="text" class="form-control  custom-type" placeholder="Type Here..">
              </div>
                </div>
            </div>
          </div>
      </div>
      </div>
    </div>
    </section>

    <footer>
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
          <br>
                Copyright by musiccorner.co 2015<br>
      all rights reserved, please do not copy this video
      without permit<br>
      www.musiccorner.co
        </div>
      </div>
    </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>

    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })

    </script>
  </body>
</html>