<!DOCTYPE html>
<html lang="en">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="CoverImage2 FlexEmbed FlexEmbed--3by1"
                 style="background-image:url(img/header.png)">
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="profile-mainpp2">
                  <div id="wrapperpp2">
                     <div id="pp">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <div class="user2">
                  <h1>@Username</h1>
                  <h4>Position</h4>
                </div>
              </div>
            </div>

            <div class="training">
              <h3>My Training</h3>
              <hr> 
              <h4>DRUM CLASS</h4>
              <h5>Time : 09.00 - 09.30</h5>
              <h5>Trainer : Mr Echa Soemantri</h5>
              <h5>Level : Advance</h5>
              <br>
              <h4>DRUM CLASS</h4>
              <h5>Time : 09.00 - 09.30</h5>
              <h5>Trainer : Mr Echa Soemantri</h5>
              <h5>Level : Advance</h5>
              <br>
              <h4>DRUM CLASS</h4>
              <h5>Time : 09.00 - 09.30</h5>
              <h5>Trainer : Mr Echa Soemantri</h5>
              <h5>Level : Advance</h5>
              <br>
              <h4>DRUM CLASS</h4>
              <h5>Time : 09.00 - 09.30</h5>
              <h5>Trainer : Mr Echa Soemantri</h5>
              <h5>Level : Advance</h5>
              <br>
              <h4>DRUM CLASS</h4>
              <h5>Time : 09.00 - 09.30</h5>
              <h5>Trainer : Mr Echa Soemantri</h5>
              <h5>Level : Advance</h5>
              <br>
              <h5><a href="#">View More</a></h5>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block custom-btn">Go Training</button>

            <div class="training">
              <h3>My Training</h3>
              <hr> 
              <h4>DRUM CLASS</h4>
              <h5>Time : 09.00 - 09.30</h5>
              <h5>Trainer : Mr Echa Soemantri</h5>
              <h5>Level : Advance</h5>
              <br>
              <h4>DRUM CLASS</h4>
              <h5>Time : 09.00 - 09.30</h5>
              <h5>Trainer : Mr Echa Soemantri</h5>
              <h5>Level : Advance</h5>
              <br>
              <h4>DRUM CLASS</h4>
              <h5>Time : 09.00 - 09.30</h5>
              <h5>Trainer : Mr Echa Soemantri</h5>
              <h5>Level : Advance</h5>
              <h5><a href="#">View More</a></h5>
              br
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block custom-btn">Go Training</button>

          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-content">
              <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Timeline</a></li>
                  <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">About</a></li>
                  <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Circle</a></li>
                  <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Photos</a></li>
                  <li role="presentation"><a href="#endors" aria-controls="settings" role="tab" data-toggle="tab">Endors</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="home">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                            <div class="profile-content">
                            <input type="text" class=" form-control custom-input2" placeholder="What's your sound today?">
                            </div>
                          </div> 
                
                            <div class="music-button">
                              <button type="button" class="btn btn-default btn music-button">
                                <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                              </button>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="profile-name">
                              <div class="profile-picture">
                                <div id="wrapperpp">
                                   <div id="pp">
                                    <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                                   </div> 
                                </div>
                              </div>
                              <h4>Username</h4>
                              <h5>Lorem Ipsum Dolor Sit Amet</h5>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="profile-content2">
                              <p>Pellentesque tortor porttitor sed urna ac enim aenean nec amet est, magnis sit?</p>
                            </div>
                            <div class="video2">
                              <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vLbfv-AAyvQ?list=PL5AD993AAF990F3DF"></iframe>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="profile-content2">
                              <a href="#">Love</a> <a href="#">Comment</a> <a href="#">Share</a>
                              <div class="desc"><a href="#">150 People</a>Love This Post</div>
                            </div>
                            <div class="profile-name2">
                              <div class="profile-picture2">
                                <div id="wrapperpp2">
                                   <div id="pp2">
                                    <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                                   </div> 
                                </div>
                              </div>
                              <h4><a href="#">Username</a> Magnis, scelerisque, augue turpis diam ac penatibus</h4>
                              <h5>Lorem Ipsum Dolor Sit Amet</h5>
                            </div>
                            <div class="profile-name2">
                              <div class="profile-picture2">
                                <div id="wrapperpp2">
                                   <div id="pp2">
                                    <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                                   </div> 
                                </div>
                              </div>
                              <h4><a href="#">Username</a> Magnis, scelerisque, augue turpis diam ac penatibus</h4>
                              <h5>Lorem Ipsum Dolor Sit Amet</h5>
                            </div>
                            <div class="profile-name2">
                              <div class="profile-picture2">
                                <div id="wrapperpp2">
                                   <div id="pp2">
                                    <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                                   </div> 
                                </div>
                              </div>
                              <form>
                                <div class="form-group customize-input">
                                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Write Something..">
                                </div>
                              </form>
                               <hr>
                            </div>
                            
                             <div class="profile-name">
                              <div class="profile-picture">
                                <div id="wrapperpp">
                                   <div id="pp">
                                    <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                                   </div> 
                                </div>
                              </div>
                              <h4>Username</h4>
                              <h5>Lorem Ipsum Dolor Sit Amet</h5>
                            </div>
                            <div class="profile-content2">
                              <p>Pellentesque tortor porttitor sed urna ac enim aenean nec amet est, magnis sit?</p>
                            </div>
                            <div class="video2">
                              <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vLbfv-AAyvQ?list=PL5AD993AAF990F3DF"></iframe>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="profile-content2">
                              <a href="#">Love</a> <a href="#">Comment</a> <a href="#">Share</a>
                              <div class="desc"><a href="#">150 People</a>Love This Post</div>
                            </div>
                            <div class="profile-name2">
                              <div class="profile-picture2">
                                <div id="wrapperpp2">
                                   <div id="pp2">
                                    <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                                   </div> 
                                </div>
                              </div>
                              <h4><a href="#">Username</a> Magnis, scelerisque, augue turpis diam ac penatibus</h4>
                              <h5>Lorem Ipsum Dolor Sit Amet</h5>
                            </div>
                            <div class="profile-name2">
                              <div class="profile-picture2">
                                <div id="wrapperpp2">
                                   <div id="pp2">
                                    <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                                   </div> 
                                </div>
                              </div>
                              <h4><a href="#">Username</a> Magnis, scelerisque, augue turpis diam ac penatibus</h4>
                              <h5>Lorem Ipsum Dolor Sit Amet</h5>
                            </div>
                            <div class="profile-name2">
                              <div class="profile-picture2">
                                <div id="wrapperpp2">
                                   <div id="pp2">
                                    <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                                   </div> 
                                </div>
                              </div>
                              <form>
                                <div class="form-group customize-input">
                                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Write Something..">
                                </div>
                              </form>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="profile">
                    <div class="about-wrapper">
                      <h4>About Me</h4>
                      <p>Pid tempor magnis porttitor ac, facilisis, montes augue platea, et ac nec! Ac ut dictumst, porta augue amet? Cursus nunc tincidunt aliquam, odio elit amet? Augue mauris natoque. A. Elementum, a in? Placerat sed! Pid integer nec nisi auctor dolor mauris lundium, quis platea adipiscing odio dolor egestas. Parturient purus amet dictumst tincidunt cursus ut dignissim, vel pulvinar lectus diam? Nunc sagittis elit cum purus, odio nunc placerat ut, integer sit platea, lectus dolor dignissim montes duis enim lorem turpis! Quis rhoncus nunc purus, ut amet odio vel tempor est sit porta? Penatibus, facilisis duis penatibus, vel, augue pellentesque habitasse.</p>
                      <hr>
                      <h4>Music Interest</h4>
                      <p><a href="">Pop Music,</a> <a href="">Jazz.</a></p>
                      <hr>
                      <h4>Related Band</h4>
                      <p><a href="">D'Masiv</a> as Drummer.</p>
                      <hr>
                      <h4>Date of Birth</h4>
                      <p>11 Januari 1988.</p>
                      <hr>
                      <h4>On the Web</h4>
                      <p><a href="">Facebook</a><a href="">Twitter</a><a href="">Myspace</a><a href="">Youtube</a></p>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="messages">
                    <div class="circle-wrapper">

              <div class="profile-circle">
                <div class="pp-circle">
                  <div id="wrappercircle">
                     <div id="circles">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
              </div>
              <div class="profile-circle">
                <div class="pp-circle">
                  <div id="wrappercircle">
                     <div id="circles">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
              </div>
              <div class="profile-circle">
                <div class="pp-circle">
                  <div id="wrappercircle">
                     <div id="circles">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
              </div>
              <div class="profile-circle">
                <div class="pp-circle">
                  <div id="wrappercircle">
                     <div id="circles">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
              </div>
              <div class="profile-circle">
                <div class="pp-circle">
                  <div id="wrappercircle">
                     <div id="circles">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
              </div>
              <div class="profile-circle">
                <div class="pp-circle">
                  <div id="wrappercircle">
                     <div id="circles">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
              </div>

            </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="settings">
                    <div class="container photo-wrapper">
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/header.png" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/header.png" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/header.png" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/header.png" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/header.png" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/header.png" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/header.png" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/header.png" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/header.png" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/header.png" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/header.png" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/header.png" class="img-responsive" alt="Responsive image"></a>
                      </div>
                  </div>
                </div>
                  <div role="tabpanel" class="tab-pane fade" id="endors">
                    <div class="container photo-wrapper">
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/endorse.jpg" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/endorse.jpg" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/endorse.jpg" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/endorse.jpg" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/endorse.jpg" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/endorse.jpg" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/endorse.jpg" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/endorse.jpg" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/endorse.jpg" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/endorse.jpg" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/endorse.jpg" class="img-responsive" alt="Responsive image"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a href=""><img src="img/endorse.jpg" class="img-responsive" alt="Responsive image"></a>
                      </div>
                  </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="circle2">

              <div class="profile-circle2">
                <div class="pp-circle2">
                  <div id="wrappercircle2">
                     <div id="circles2">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
              </div>
              <div class="profile-circle2">
              <p class="circlep"> Mid a! Mauris magna ac placerat etiam placerat</p>
              <div class="links"><a href="">Love</a><a href="">Comment</a><a href="">Share</a></div>
              <div class="linked"><a href="">58 Comments</a> Love this</div>

              <div class="profile-circle3">
                <div class="pp-circle3">
                  <div id="wrappercircle3">
                     <div id="circles3">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
                <p class="circlep"> Mid a! Mauris magna ac placerat etiam placerat</p>
              </div>
              <div class="profile-circle3">
                <div class="pp-circle3">
                  <div id="wrappercircle3">
                     <div id="circles3">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
                <p class="circlep"> Mid a! Mauris magna ac placerat etiam placerat</p>
              </div>
              <div class="profile-circle3">
                <div class="pp-circle3">
                  <div id="wrappercircle3">
                     <div id="circles3">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <form>
                                <div class="form-group customize-input">
                                  <input type="email" class="form-control formize" id="exampleInputEmail1" placeholder="Write Something..">
                                </div>
                              </form>
                <hr>
                
              </div>
            </div>

            <div class="profile-circle2">
                <div class="pp-circle2">
                  <div id="wrappercircle2">
                     <div id="circles2">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
              </div>
              <div class="profile-circle2">
              <p class="circlep"> Mid a! Mauris magna ac placerat etiam placerat</p>
              <div class="links"><a href="">Love</a><a href="">Comment</a><a href="">Share</a></div>
              <div class="linked"><a href="">58 Comments</a> Love this</div>

              <div class="profile-circle3">
                <div class="pp-circle3">
                  <div id="wrappercircle3">
                     <div id="circles3">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
                <p class="circlep"> Mid a! Mauris magna ac placerat etiam placerat</p>
              </div>
              <div class="profile-circle3">
                <div class="pp-circle3">
                  <div id="wrappercircle3">
                     <div id="circles3">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
                <p class="circlep"> Mid a! Mauris magna ac placerat etiam placerat</p>
              </div>
              <div class="profile-circle3">
                <div class="pp-circle3">
                  <div id="wrappercircle3">
                     <div id="circles3">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <form>
                                <div class="form-group customize-input">
                                  <input type="email" class="form-control formize" id="exampleInputEmail1" placeholder="Write Something..">
                                </div>
                              </form>
                <hr>
                
              </div>

              <div class="profile-circle2">
                <div class="pp-circle2">
                  <div id="wrappercircle2">
                     <div id="circles2">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
              </div>
              <div class="profile-circle2">
              <p class="circlep"> Mid a! Mauris magna ac placerat etiam placerat</p>
              <div class="links"><a href="">Love</a><a href="">Comment</a><a href="">Share</a></div>
              <div class="linked"><a href="">58 Comments</a> Love this</div>

              <div class="profile-circle3">
                <div class="pp-circle3">
                  <div id="wrappercircle3">
                     <div id="circles3">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
                <p class="circlep"> Mid a! Mauris magna ac placerat etiam placerat</p>
              </div>
              <div class="profile-circle3">
                <div class="pp-circle3">
                  <div id="wrappercircle3">
                     <div id="circles3">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
                <p class="circlep"> Mid a! Mauris magna ac placerat etiam placerat</p>
              </div>
              <div class="profile-circle3">
                <div class="pp-circle3">
                  <div id="wrappercircle3">
                     <div id="circles3">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <form>
                                <div class="form-group customize-input">
                                  <input type="email" class="form-control formize" id="exampleInputEmail1" placeholder="Write Something..">
                                </div>
                              </form>
                <hr>
                
              </div>

              <div class="profile-circle2">
                <div class="pp-circle2">
                  <div id="wrappercircle2">
                     <div id="circles2">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
              </div>
              <div class="profile-circle2">
              <p class="circlep"> Mid a! Mauris magna ac placerat etiam placerat</p>
              <div class="links"><a href="">Love</a><a href="">Comment</a><a href="">Share</a></div>
              <div class="linked"><a href="">58 Comments</a> Love this</div>

              <div class="profile-circle3">
                <div class="pp-circle3">
                  <div id="wrappercircle3">
                     <div id="circles3">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
                <p class="circlep"> Mid a! Mauris magna ac placerat etiam placerat</p>
              </div>
              <div class="profile-circle3">
                <div class="pp-circle3">
                  <div id="wrappercircle3">
                     <div id="circles3">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <h4>Username</h4>
                <h5>Lorem Ipsum Dolor</h5>
                <p class="circlep"> Mid a! Mauris magna ac placerat etiam placerat</p>
              </div>
              <div class="profile-circle3">
                <div class="pp-circle3">
                  <div id="wrappercircle3">
                     <div id="circles3">
                      <img src="img/pp.png" class="img-responsive" alt="Responsive image" />
                     </div> 
                  </div>
                </div>
                <form>
                                <div class="form-group customize-input">
                                  <input type="email" class="form-control formize" id="exampleInputEmail1" placeholder="Write Something..">
                                </div>
                              </form>
        
                
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>

    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })

    </script>
  </body>
</html>