

<div class="content">
			<?php if (!empty($this->flashMessenger()->hasMessages())) : ?>
            	 <?php $messages = $this->flashMessenger()->getMessages();?>
            				
              <?php   foreach($messages as $message) : ?>
                      <div class="alert alert-danger">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<i class="fa fa-ban-circle"></i> <a class="alert-link" href="#">
		<?php if(!empty($message['error'])) echo $message['error'];?> 
	   <?php endforeach;?>
            <?php endif;?>
	</div>
             
		
    <?php $formDistrict->setAttribute('action', $this->url('district', array('action' => 'add'))); ?>
			 <?php $formDistrict->prepare(); ?>
        	 <?php echo $this->form()->openTag($formDistrict); ?>
   
    <div class="fields">
		<strong>Province Name : </strong>
			 <?php echo $this->formRow($formDistrict->get('province_id')); ?>
 	</div>

 	    <div class="fields">
		<strong>Kabupaten Name : </strong>
			 <?php echo $this->formRow($formDistrict->get('regency_id')); ?>
 	</div>
 	
 	
	
    <div class="fields">
		<strong>District Name : </strong>
			 <?php echo $this->formRow($formDistrict->get('district_name')); ?>
 	</div>
	

 	<div class="actions">
					<?php //echo $this->formRow($formDistrict->get('registerEmailCsrf')); ?>
 		 <?php echo $this->formSubmit($formDistrict->get('submit_district')); ?>
             <?php echo $this->form()->closeTag(); ?>
				</div>
</div>

<div class="bottom-wrapper">
</div>


<script type="text/javascript">

$(function() { 
    $('#province_id').change(function() {
        $.ajax({
            url: '/regency/get-list-regency',
            dataType: 'json',
            type: 'POST',
            // This is query string i.e. country_id=123
            data: {province_id : $('#province_id').val()},
            success: function(data) {
                $('#regency').empty(); // clear the current elements in select box
                $('#regency').append($('<option value="">Pilih Kabupaten</option>'));
                for (row in data) {
                   // console.log(data[row].regency_name);
                    $('#regency').append($('<option></option>').attr('value', data[row].regency_id).text(data[row].regency_name));
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });
});

</script>


