

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Village</h2>
		<ol class="breadcrumb">
			<li><a href="<?php echo $this->serverUrl('/village/index');?>">Village</a>
			</li>
			<li class="active"><strong>Add</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="<?php echo $this->serverUrl('/village/index');?>"
				class="btn btn-primary">Back</a>
		</div>
	</div>
</div>
<br />
<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">

				<div class="ibox-tools">
					<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>

			<div class="ibox-content">
                        
                        
                            
                            <?php if (!empty($this->flashMessenger()->hasMessages())) : ?>
            	 <?php $messages = $this->flashMessenger()->getMessages();?>
           				
              <?php   foreach($messages as $message) : ?>
              
               <div class="<?php echo $message['class'];?>">
					<button aria-hidden="true" data-dismiss="alert" class="close"
						type="button">×</button>
                       <?php if(!empty($message['error'])) echo $message['error'];?>
                            </div>
                               <?php endforeach;?>
            <?php endif;?>
        
		
		
                          <?php $formVillage->setAttribute('action', $this->url('village', array('action' => 'add'))); ?>

                          <?php $formVillage->prepare(); ?>
        	 <?php echo $this->form()->openTag($formVillage); ?>
                                <div class="form-group">


					<label class="col-sm-2 control-label">Province Name</label>
					<div class="col-md-4">
                                        <?php echo $this->formRow($formVillage->get('province_id')); ?>
                                    </div>
				</div>


				<div class="form-group">
					<label class="col-sm-2 control-label">Regency Name</label>
					<div class="col-md-4">
                                        <?php echo $this->formRow($formVillage->get('regency_id')); ?>
                                    </div>
				</div>


				<div class="form-group">
					<label class="col-sm-2 control-label">District Name</label>
					<div class="col-md-4">
                                        <?php echo $this->formRow($formVillage->get('district_id')); ?>
                                    </div>
				</div>


				<div class="form-group">
					<label class="col-sm-2 control-label">Village Name</label>
					<div class="col-md-4">
                                        <?php echo $this->formRow($formVillage->get('village_name')); ?>
                                    </div>
				</div>


				<div class="hr-line-dashed"></div>
				<div class="form-group">
					<div class="col-sm-4 col-sm-offset-2">
                                      <?php echo $this->formSubmit($formVillage->get('submit_village')); ?>
                                    </div>
				</div>
                              <?php echo $this->form()->closeTag(); ?>
                        </div>



		</div>
	</div>











<script type="text/javascript">
$(function() {
   $('#province_id').change(function() {
        $.ajax({
            url: '/regency/get-list-regency',
            dataType: 'json',
            type: 'POST',
            data: {province_id : $('#province_id').val()},
            success: function(data) {
                $('#regency').empty(); 
                $('#regency').append($('<option value="">Pilih Kabupaten</option>'));
                for (row in data) {
                    $('#regency').append($('<option></option>').attr('value', data[row].regency_id).text(data[row].regency_name));
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    $('#regency').change(function() {
        $.ajax({
            url: '/district/get-list-district',
            dataType: 'json',
            type: 'POST',
            data: {regency_id : '7'},
            success: function(data) {
                $('#district').empty(); 
                $('#district').append($('<option value="">Choose District</option>'));
                for (row in data) {
                    $('#district').append($('<option></option>').attr('value', data[row].district_id).text(data[row].district_name));
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });
});



</script>