<?php
$title = 'My districts';
$this->headTitle($title);
$url_order = 'ASC';
if ($order_by == 'district_id')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
elseif ($order_by == 'district_name')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p><a href="<?php
echo $this->url('district', array(
    'action' => 'add'));
?>">Add new district</a></p>
<table class="table">
    <tr>
        <th>
            <a href="<?php echo $this->url('district', array('order_by' => 'district_id', 'order' => $url_order)); ?>">Id <?php if ($order_by == 'district_id'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
        </th>
        <th>
            <a href="<?php echo $this->url('district', array('order_by' => 'district_name', 'order' => $url_order)); ?>">Role Name <?php if ($order_by == 'district_name'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a></th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($paginator as $district) : ?>
    
        <tr>
            <td><?php echo $this->escapeHtml($district->district_id); ?></td>
            <td><?php echo $this->escapeHtml($district->district_name); ?></td>
            <td>
                <a href="<?php echo $this->url('district', array('action' => 'edit', 'id' => $district->district_id));
        ?>">Edit</a>
                <a href="#" onclick="deleteRole()">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
<?php
    echo $this->paginationControl($paginator, 'Sliding', 'paginator-slide', array('order_by' => $order_by, 'order' => $order)
    );
    ?>
    
    
    
    <script type="text/javascript">

    function deleteRole(){
        
   var a = confirm('are you sure want delete this district ?');

    if(a){
         	document.body.innerHTML += '<form id="dynForm" action="<?php echo $this->url('district', array('action' => 'delete','id'=>$district->district_id));?>" method="post"></form>';
            document.getElementById("dynForm").submit();
    } 
    }
</script>