
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Village</h2>
		<ol class="breadcrumb">
			<li><a href="index.html">Village</a></li>
			<li class="active"><strong>Index</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="<?php echo $this->serverUrl('/village/add');?>"
				class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i> Add Village</a>
		</div>
	</div>
</div>

<?php
/*
$url_order = 'ASC';
if ($order_by == 'village_id')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
elseif ($order_by == 'village_name')
    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
*/
?>


<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
                <?php if (!empty($this->flashMessenger()->hasMessages())) : ?>
            	 <?php $messages = $this->flashMessenger()->getMessages();?>
              <?php   foreach($messages as $message) : ?>
               <div class="<?php echo $message['class'];?>">
				<button aria-hidden="true" data-dismiss="alert" class="close"
					type="button">×</button>
                       <?php if(!empty($message['error'])) echo $message['error'];?>
                            </div>
                            
                               <?php endforeach;?>
            <?php endif;?>
            
            
                <div class="ibox float-e-margins">

				<div class="ibox-content">

					<table class="table table-striped">
						<thead>
							<tr>
								<th>Province Name</th>
								<th>Regency Name</th>
								<th>District Name</th>
								<th>Village Name</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
                            <?php foreach ($paginator as $village) : ?>
								<td><?php echo $this->escapeHtml($village->province_name); ?></td>
								<td><?php echo $this->escapeHtml($village->regency_name); ?></td>
								<td><?php echo $this->escapeHtml($village->district_name); ?></td>
								<td><?php echo $this->escapeHtml($village->village_name); ?></td>
								<td class="text-navy" align="right">
                                <a href="<?php echo $this->url('village',array('action'=>'edit','id'=>$village->village_id));?>" class="btn btn-warning  btn-xs " > <i class="fa fa-edit"></i>  Edit</a>
                                <a href="#" class="btn btn-danger  btn-xs"	onclick="deleteRole(<?php echo $village->village_id;?>)"><i class="fa fa-times"></i> Delete</a>
								</td>
							</tr>
                              <?php endforeach; ?>
                            </tbody>
					</table>
				</div>
                       <?php   echo $this->paginationControl($paginator, 'Sliding', 'paginator-slide-village', array('order_by' => $order_by, 'order' => $order));?>
            </div>
		</div>
	</div>
</div>




    <script type="text/javascript">
    function deleteRole(id)
    {
            var a = confirm('Are you sure want delete ?');
            if(a){
            document.body.innerHTML += "<form id='formRole' action='<?php echo $this->url('village');?>/delete/"+id+"' method='post'></form>";
            document.getElementById("formRole").submit();
            } 
    }
    </script>
