    <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>Role</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Role</a>
                        </li>
                        <li class="active">
                            <strong>Add</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-sm-8">
                    <div class="title-action">
                        <a href="<?php echo $this->serverUrl('/role/index');?>" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </div>
            <br/>
       <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                         <div class="ibox-title">
                       
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    
                        <div class="ibox-content">
                        
                        
                            
                            
                            <?php if (!empty($this->flashMessenger()->hasMessages())) : ?>
            	 <?php $messages = $this->flashMessenger()->getMessages();?>
            				
              <?php   foreach($messages as $message) : ?>
              
               <div class="<?php echo $message['class'];?>">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                       <?php if(!empty($message['error'])) echo $message['error'];?>
                            </div>
                            
                               <?php endforeach;?>
            <?php endif;?>
            
                      
		
		
		
                          <?php $formRole->setAttribute('action', $this->url('role', array('action' => 'add'))); ?>
			 <?php $formRole->prepare(); ?>
        	 <?php echo $this->form()->openTag($formRole); ?>
                                <div class="form-group">
                                <label class="col-sm-2 control-label">Role Name</label>
                                   <div class="col-md-4">
                                        <?php echo $this->formRow($formRole->get('role_name')); ?>
                                    </div>
                                </div>
                                <div class="form-group">
                                <label class="col-sm-2 control-label">Role Status</label>
                                   <div class="col-md-4">
                                        <?php echo $this->formRow($formRole->get('role_status')); ?>
                                    </div>
                                </div>
                                
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                      <?php echo $this->formSubmit($formRole->get('submit')); ?>
                                    </div>
                                </div>
                              <?php echo $this->form()->closeTag(); ?>
                        </div>
                    
                      
                        
                </div>
            </div>
            