
<div class="content">
			<?php if (!empty($this->flashMessenger()->hasMessages())) : ?>
            	 <?php $messages = $this->flashMessenger()->getMessages();?>
            				
              <?php   foreach($messages as $message) : ?>
                      <div class="alert alert-danger">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<i class="fa fa-ban-circle"></i> <a class="alert-link" href="#">
		<?php if(!empty($message['error'])) echo $message['error'];?> 
	
	</div>
                <?php endforeach;?>
            <?php endif;?>
		
    <?php $formRole->setAttribute('action', $this->url('role', array('action' => 'edit','id'=>$this->id))); ?>
			 <?php $formRole->prepare(); ?>
        	 <?php echo $this->form()->openTag($formRole); ?>
    <div class="fields">
		<strong>Role Name : </strong>
			 <?php echo $this->formRow($formRole->get('role_name')); ?>
 	</div>
	

 	<div class="actions">
					<?php //echo $this->formRow($formRole->get('registerEmailCsrf')); ?>
 		 <?php echo $this->formSubmit($formRole->get('submit')); ?>
             <?php echo $this->form()->closeTag(); ?>
				</div>
</div>

<div class="bottom-wrapper">
</div>

