
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Role</h2>
		<ol class="breadcrumb">
			<li><a href="index.html">Role</a></li>
			<li class="active"><strong>Index</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="<?php echo $this->serverUrl('/role/add');?>"
				class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i> Add
				Role</a>
		</div>
	</div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">


		<div class="col-lg-12">
            
                            <?php if (!empty($this->flashMessenger()->hasMessages())) : ?>
            	 <?php $messages = $this->flashMessenger()->getMessages();?>
            				
              <?php   foreach($messages as $message) : ?>
              
               <div class="<?php echo $message['class'];?>">
				<button aria-hidden="true" data-dismiss="alert" class="close"
					type="button">×</button>
                       <?php if(!empty($message['error'])) echo $message['error'];?>
                            </div>
                            
                               <?php endforeach;?>
            <?php endif;?>
            
            
                <div class="ibox float-e-margins">

				<div class="ibox-content">

					<table class="table table-striped">
						<thead>
							<tr>
								<th>Role Name</th>
								<th>Role Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
                            <?php foreach ($paginator as $role) : ?>
    
                                <td><?php echo $this->escapeHtml($role->role_name); ?></td>
								<td><?php echo $this->escapeHtml($role->role_status); ?></td>
								<td class="text-navy" align="right">
									
<a href="<?php echo $this->url('role',array('action'=>'edit','id'=>$role->role_id));?>" class="btn btn-warning  btn-xs " > <i class="fa fa-edit"></i>  Edit</a>
 <a href="#" class="btn btn-danger  btn-xs"
									onclick="deleteRole(<?php echo $role->role_id;?>)"><i class="fa fa-times"></i> Delete</a>
								</td>
							</tr>
                              <?php endforeach; ?>
                            </tbody>
					</table>
				</div>
                
                       <?php   echo $this->paginationControl($paginator, 'Sliding', 'paginator-slide', array('order_by' => $order_by, 'order' => $order));?>
     
     
            </div>
		</div>


	</div>

</div>




<script type="text/javascript">
    function deleteRole(id)
    {
            var a = confirm('Are you sure want delete ?');
            if(a){
            document.body.innerHTML += "<form id='formRole' action='<?php echo $this->url('role');?>/delete/"+id+"' method='post'></form>";
            document.getElementById("formRole").submit();
            } 
    }
    </script>
