<section class="register">
<h2>New User Registration</h2><?php if ($this->error): ?>
<p class="error">
    There were one or more issues with your submission.
    Please correct the as indicated bellow.
</p><?php endif ?>
<?php
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action',$this->url(NULL,array('controller'=>'index','action'=>'create')));
    $form->setAttribute('method','post');
    echo $this->form()->openTag($form);
?>
<div>
<dl class="zend_form">
<dt><?php echo $this->formLabel($form->get('fullname'));
?>
<dd><?php
            echo $this->formElement($form->get('fullname'));
            echo $this->formElementErrors($form->get('fullname'));
?></dd>
<dt><?php echo $this->formLabel($form->get('username'));
?></dt>
<dd><?php
            echo $this->formElement($form->get('username'));
            echo $this->formElementErrors($form->get('username'));
?></dd>
<dt><?php echo $this->formLabel($form->get('email'));
?></dt>
<dd><?php
            echo $this->formElement($form->get('email'));
            echo $this->formElementErrors($form->get('email'));
?></dd>
<dt><?php echo $this->formLabel($form->get('password'));
?></dt>
<dd><?php
            echo $this->formElement($form->get('password'));
            echo $this->formElementErrors($form->get('password'));
?></dd>
<dd><?php
            echo $this->formElement($form->get('submit'));
            echo $this->formElementErrors($form->get('submit'));
?></dd>
</dl>
<?php       echo $this->form()->closeTag()?>
</div>
</section>